body {
    background-color: darkgray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container {
    max-width: 400px;
    margin: auto;
    box-shadow: 0px 0px 43px 17px rgb(153, 153, 153);
}

#display {
    text-align: right;
    height: 70px;
    overflow: auto;
    line-height: 70px;
    background-color: white;
    padding: 16px 8px;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.buttons {
    display: grid;
    grid-template-columns: auto auto auto auto;
    border-left: 1px solid #999;
    border-bottom: 1px solid #999;
}
.buttons>div{
border-right: 1px solid #999;
border-top: 1px solid #999;
}

.button {
    border: 0.5px solid #999;
    text-align: center;
    line-height: 100px;
    font-size: 25px;
    cursor: pointer;
}

#equal {
    background-color: rgb(85, 85, 255);
    color: white;
}

.button:hover {
  background-color: #323330;
  color: white;
  transition: 0.5s ease-in-out;  
}